.audio-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  width: 95%;
  bottom: 5px;
  left: 2.5vw;
  background: white;
  border: 1px solid var(--color-4);
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

@media (max-width: 768px) {
  .control-btn,
  .volume-btn {
    box-shadow: 0 0px 0px rgb(0, 0, 0) !important;
  }
  .audio-player {
    padding: 0 15px 0 15px;
  }
  .controls .control-btn,
  .controls .volume-btn {
    border: 0px;
    border-radius: 0px;
    box-shadow: 0px;
    margin: 0 5px;
  }
}

h2 {
  margin: 0;
  color: var(--color-1);
  font-family: "quran-karim-surah" !important;
}

.controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 5px;
  padding-right: 20px;
  border-right: 1px solid var(--color-4);
}

.control-btn {
  background: white;
  width: 45px;
  height: 45px;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid var(--color-4);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px,
    rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
}

.control-btn-big {
  width: 65px;
  height: 65px;
  border-radius: 15px;
}
.control-btn-big img {
  width: 45px;
  height: 45px;
}

.control-btn:hover {
  transform: translateY(-2px);
}

.progress-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 10px;
  width: 60vw;
}

.progress-container span {
  padding-left: 20px;
  padding-right: 20px;
  color: var(--color-1);
}

.time-display {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color: #666;
}

.volume-btn {
  background: white;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid var(--color-4);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px,
    rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
}

.slider {
  appearance: none;
  height: 20px;
  width: 100%;
  border-radius: 15px;
  background: #e0e0e0;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--color-1);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--color-1);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.controls .volume-popup {
  position: absolute;
  top: -50px;
  left: 40%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-4);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px,
    rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

.volume-popup h4 {
  color: var(--color-1);
}

.popup-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.close-popup {
  background: white;
  width: 45px;
  height: 40px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid var(--color-4);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px;
}
.close-popup img {
  width: 25px;
  height: 25px;
}
.play-animation {
  animation: player-animation 10s linear 0s infinite;
}

@keyframes player-animation {
  from {
    transform: rotate(360deg);
    /* opacity: 1; */
  }
  to {
    transform: rotate(-360deg);
    /* opacity: 0; */
  }
}
