.sidebar {
  width: 350px;
  height: 85vh;
  position: fixed;
  top: 0;
  left: -350px;
  padding: 10px;
  background-color: white;
  border: 1px solid var(--color-4);
  box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px,
    rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
  margin-top: 115px;
  transition: left 0.5s ease-in-out;
  border-radius: 15px;
  z-index: 1001;
}

.sidebar.active {
  left: 5px;
}

.slider-contanier {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-1);
  text-decoration: none;
  font-size: 18px;
  border: 1px solid var(--color-4);
  box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px,
    rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
  border-radius: 15px;
  transition: 0.5s;
  margin: 10px 0px 10px 0px;
}

.slider-contanier-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.slider-contanier img {
  margin-right: 10px;
}
.sidebar a {
  display: block;
  color: var(--color-1);
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  padding: 15px;
  border: 1px solid var(--color-4);
  border-radius: 15px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px,
    rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
}
.sidebar .sidebar-btn {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 70px;
  color: var(--color-1);
  width: 100%;
  font-size: 20px;
  margin: 10px;
  padding: 8px 20px 8px 0px;
  border: 1px solid var(--color-4);
  border-radius: 15px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px,
    rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
  background-color: inherit;
}
.sidebar .sidebar-btn i {
  padding-top: 5px;
}
.sidebar .sidebar-btn span {
  padding-top: 5px;
  font-size: 15px;
  border-radius: 15px;
}
.sidebar .sidebar-btn:hover {
  background-color: inherit;
  transform: translateY(-5px);
}

.sidebar a:hover {
  background-color: var(--color-4);
}
